*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

/*stili container*/
#wrapper-up {
    height: calc(100vh - 15vh);
    display: flex;
}

/*stile sidebar*/
#side-bar {
    width: 15vw;
    height: 85vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo img {
    max-width: 50%;
    margin: 15px;
}

nav ul {
    list-style: none;
}

nav {
    text-decoration: none;
}

#nav-superiore a {
    padding-left: 10px;
}

nav a {
    color: grey;
    padding-top: 15px;
    text-decoration: none;
}

nav li {
    padding: 0 0 15px 15px;
}

.playlist h2 {
    color: white;
    padding: 5px 0 0 15px;
}

#crea-playlist {
    padding: 15px;
}

#crea-playlist a {
    text-decoration: none;
    color: grey;
    padding-left: 5px;
}

#profile{
    color: grey;
    margin: 0 15px;
}

#download{
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
}

#download a{
    margin-left: 10px;
    text-decoration: none;
    color: grey;
}

#name-user{
    margin-bottom: 10px;
}

#name-user a {
    text-decoration: none;
    color: grey;
}

/*hover side bar*/

#nav-superiore a:hover{
    color: white;
}

.playlist a:hover{
    color: white;
}

#download a:hover {
    color: white;
}

/*contenitore principale*/
#main-content {
    flex-grow: 1;
    height: 100%;
    background-color: rgba(20,25,34,255);
    overflow-y: scroll;
}

header {
    height: 10vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.253);
    text-align: end;
    padding: 25px 10px 0 0;
}

header a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 25px;
    border-radius: 20px;
}

#titoli-libreria ul{
    display: flex;
    justify-content: center;
    color: grey;
}

#titoli-libreria nav{
    margin-top: 10px;
}

.section-library{
    margin: 15px 7px 80px;
}

.section-library h1{
    font-size: 25px;
    color: white;
}

.sub-section-library{
    display: flex;
    gap: 20px;
}

.sub-section-library div{
    width: calc(100% / 6);
    height: 30vh;
    margin-top: 15px;
}

.sub-section-library img{
    width: 100%;
    height: fit-content;
}

.sub-section-library h2{
    color: white;
    text-align: center;
    margin-top: 10px;
}

.sub-section-library p{
    color: grey;
    text-align: center;
}

.section-library p {
    color: grey;
    margin: 10px 0;
}

/*hover main-content*/

#titoli-libreria a:hover{
    color: white;
}

.played-recently img:hover{
    cursor: pointer;
    filter: brightness(0.5);
}

/*hover header*/

header a:hover {
    padding: 13px 28px;
}


/*stili controller*/
#controller {
    height: 15vh;
    width: 100vw;
    background-color: rgba(40,40,40,255);
    display: flex;
    justify-content: space-between;
}

#left-player{
    width: 25%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#left-player div {
    height: 80%;
}

#copertina-img{
    margin: 10px;
}

#name-song {
    padding: 30px 30px 0 0;
}

#name-song h4 {
    color: white;
}

#left-player img {
    width: 100%;
    height: 100%;
}

#icon-left-player{
    padding-top: 35px;
}

#icon-left-player i {
    padding: 0 15px 0 0;
}

#name-song{
    color: grey;
}

#center-player {
    width: 50%;
    height: 100%;
    text-align: center;
}

#center-player i {
    padding: 15px;
    margin: 20px 0;
}

#barra-player {
    background-color: white;
    width: 100%;
    height: 4px;
}

#barra-player-colorato {
    width: 30%;
    height: 4px;
    background-color: grey;
}

#right-player {
    width: 25%;
    height: 100%;
    display: flex;
}

#icon-right-player {
    padding-left: 30%;
}

#right-player i {
    margin: 45px 10px;
}

#volume{
    color: white;
    position: absolute;
    width: 9%;
    background-color: grey;
    margin: 0 15%;
    margin-top: 50px;
    height: 3px;
}

#volume div{
    background-color: white;
    height: 3px;
    width: 30%;
}

/*hover player*/

#name-song p:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

#center-player a:hover{
    font-size: small;
}
